
@import url("css/app.cf5b33e9.css");
@import url("css/chart-widget~chat-contact~routes.9a06d142.css");
@import url("css/chat-contact.6c82ade6.css");
@import url("css/chat-messaging.1c457940.css");
@import url("css/chunk-vendors.c0e75ac0.css");
@import url("css/dashboard.3ae09d42.css");
@import url("css/dashboard~list-widget~table.45b02647.css");
@import url("css/error-403.ea8cdcae.css");
@import url("css/errors-404.95eb445d.css");
@import url("css/errors-404.95eb445d.css");
@import url("css/errors-500.e8d3ebf8.css");
@import url("css/list-widget.bf7f6d63.css");
@import url("css/login.477fdfbe.css");
@import url("css/routes.de263945.css");
@import url("css/social-widget.23782652.css");

@font-face{
    font-family: 'Product-Sans-Bold';
    src: url(fonts/ProductSansBold.ttf);
}

.font-pds-bold{
    font-family: 'Product-Sans-Bold';
}

